@model IEnumerable<ImprovementTracker.Models.Improvement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    <div class="col-md-4">
        @foreach (var item in Model)
        {
            <div class="list-item">
                <h4>@Html.ActionLink(item.Description,"Index",new{id=item.Id})</h4>                
            </div>
        } 
    </div>
    <div class="col-md-8">       
          @{Html.RenderPartial("Details", Model.First(i => i.Id == ViewBag.SelectedId));}    
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
